[submodule "libs/sampgdk"]
	path = libs/sampgdk
	url = https://github.com/Zeex/sampgdk.git
[submodule "libs/php"]
	path = libs/php
	url = https://github.com/php/php-src.git
	branch = PHP-5.6.3
[submodule "libs/samp-plugin-sdk"]
	path = libs/samp-plugin-sdk
	url = https://github.com/Zeex/samp-plugin-sdk
